#footer-container
  #footer
    #footer-links
      a(href='https://hitman.com/' id='link-site') Official Website
      a(href='https://www.reddit.com/r/HiTMAN/' id='link-reddit') Discuss on Reddit
      a(href='http://www.hitmanforum.com/' id='link-hf') Discuss on Forums
    #footer-text
      p
        | Developed by
        |
        a(href='https://github.com/hardware/hitmanstat.us') Hardware
        | &nbsp;- Design by
        |
        a(href='http://hitmanmaps.com/') Winterbirds
        | &nbsp;- Steam status provided by
        |
        a(href='https://steamstat.us/') steamstat.us
        | &nbsp;- Hosting :
        |
        a(href='https://www.heroku.com/') Heroku
      p
        | HITMAN&trade;, HITMAN&trade; logo, musics & images are trademarks of
        |
        a(href='https://www.ioi.dk/') Io-Interactive A/S
