#footer-container
  #footer
    #footer-links
      a(href='https://hitman.com/' id='link-site') Official Website
      a(href='https://www.reddit.com/r/HiTMAN/' id='link-reddit') Discuss on Reddit
      a(href='https://www.hitmanforum.com/' id='link-hf') Discuss on Forums
    #footer-text
      p
        | Made with &hearts; by
        |
        a(href='https://github.com/hardware/hitmanstat.us') Hardware
        | .&nbsp; Steam status provided by
        |
        a(href='https://steamstat.us/') steamstat.us
        | .&nbsp; Hosted on
        |
        a(href='https://www.heroku.com/') Heroku
        | .&nbsp; HITMAN&trade;, HITMAN&trade; logo, musics & images are owned and exclusively licensed to
        |
        a(href='https://www.ioi.dk/') Io-Interactive A/S
        | .&nbsp; All rights reserved.
