header#main-header
  a(href='/')
    #main-title
      | Hitman
      |
      span Services
      |
      | Status
    img(id='main-logo' src='/images/logo.png' width='476' height='80' alt='logo')

  if path == '/'
    #main-text
      | Next update in
      |
      span#next-refresh ?
      |
      | seconds.
      br
      | Useful links :
      |
      a(href='/events') events.hitmanstat.us
      | ,
      |
      a(href='https://www.hitman2maps.com/' title="Made with love by Mike Koch") hitman2maps.com
