header#main-header
  a(href='/')
    #main-title
      | Hitman
      |
      span Services
      |
      | Status
    img(id='main-logo' src='/images/logo.png' width='476' height='80' alt='logo')

  if path == '/'
    #main-text
      | Next update in
      |
      span#next-refresh ?
      |
      | seconds.
      br
      | Other pages :
      |
      a(href='/events') events.hitmanstat.us
      |
      | and
      |
      a(href='https://stats.hitmanstat.us' target='_blank') stats.hitmanstat.us
