header#main-header
  a(href='/')
    #main-title Hitman Services Status
    img(id='main-logo' src='/images/logo.png')
  #main-text
    | Region :
    |
    strong #{region}
    br
    | Next update in
    |
    span#next-refresh ?
    |
    | seconds.
