extends layout

block content
  noscript
    #error-container
      h2 Your browser does not support JavaScript.
  #backend-error-container
  #services-container
  #elusive-container
    img(src='/images/elusive.jpg' width=651 height=366 alt='elusive content')
    p#countdown
  #misc-container
    audio(preload='none' id='audio-element' loop)
      source(src='/musics/hitman.mp3' type='audio/mpeg')
    #sound-icon
      img(src='/images/sound.png' title='play/pause music' width=48 height=48 alt='sound')
