extends layout

block content
  noscript
    #error-container
      h2 Your browser does not support JavaScript.
  #backend-error-container
  #services-container
  #elusive-container
    img(src=elusive.url width=650 height=366 alt='elusive target')
    p Mission status : #{elusive.status}
  #misc-container
    audio(preload='metadata' id='audio-element' loop)
      source(src='https://meshup.net/music/hitman.mp3' type='audio/mpeg')
    #sound-icon
      img(src='/images/sound.png' title='play/pause music' width=48 height=48 alt='sound')
    if region == 'EU'
      #region-icon
        a(href='https://us.hitmanstat.us' title='switch region to US') US
    if region == 'US'
      #region-icon
        a(href='https://eu.hitmanstat.us' title='switch region to EU') EU
