#error-container {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 30px auto;
  color: #FFF;
  font-weight: 700;
  font-size: 30px;
  background-color:rgba(255,0,0,0.3);
  border-radius: 5px;

  span.separator {
    display: inline-block;
    width: 200px;
    height: 4px;
    background: #be2f2f;
    margin-bottom:10px;
  }

  p {
    font-size: 20px;
  }

  .small {
    font-size: 14px;

    a {
      text-decoration: underline;
    }
  }
}

#backend-error-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
  margin: 0 auto;
  overflow: hidden;
  color: #FFF;
  font-size: 16px;
  background-color:rgba(255,0,0,0.3);

  h1 {
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  h2 {
    font-weight: 700;
    margin-bottom: 7px;
  }

  h3 {
    font-size: 12px;
  }

  span {
    display: inline-block;
    width: 150px;
    height: 4px;
    background: #be2f2f;
    margin-bottom:10px;
  }
}
