#footer-container {
  clear: both;
  text-align: center;
  overflow: hidden;
  width: 100%;
  border-top: 1px solid #ff0068;
  margin-top: 42px;
  padding-top: 6px;
  background: #3e2b41 url(/images/angle-pattern-purple.png);
}

#footer {
  margin: auto;
}

#footer-links {
  a {
    -moz-user-select: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 15px 20px 15px 55px;
    margin: 20px;
    border-radius: 4px;
    border: 1px solid #c6c6c6;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all ease .15s;
    cursor: pointer;

    &:hover {
      border: 1px solid #ff0068;
    }
  }

  #link-reddit {
    background: url(/images/reddit.png) no-repeat 15px 6px;
    background-color: rgba(134, 134, 134, 0.4);
  }

  #link-hf {
    background: url(/images/hf.png) no-repeat 15px 7px;
    background-color: rgba(134, 134, 134, 0.4);
  }

  #link-site {
    background: url(/images/site.png) no-repeat 15px 7px;
    background-color: rgba(134, 134, 134, 0.4);
  }
}

#footer-text {
  margin: 0 auto;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  line-height: 18px;
  width: 525px;
  padding-bottom: 15px;

  a:hover {
    text-decoration: underline;
  }
}
