@media (max-width: 1330px) {
  #services-container {
    width:1000px;
  }

  #services {
    width: 1000px;
  }
}

@media (max-width: 1000px) {
  #services-container {
    width:670px;
  }

  #services {
    width: 670px;
  }

  #stats-container {
    width: 100%;
  }
}

@media (max-width: 780px) {
  #footer-links {
    a {
      margin: 10px;
    }
  }

  #footer {
    padding-top:8px;
  }
}

@media (max-width: 670px) {
  #services-container {
    width:330px;
  }

  #services {
    width: 330px;
  }

  #elusive-container {
    display: none;
  }

  #main-title {
    margin-bottom: 40px;
  }

  #stats-container {
    width: 100%;
  }

  #footer-links {
    a {
      margin: 10px;
    }
  }

  #footer {
    padding-top:8px;
  }

}

@media (max-width: 535px) {
  #footer-text {
    width: 420px;
  }
}

@media (max-width: 471px) {
  #footer-links {
    margin: 15px 0;

    a {
      width: 85%;
      border: 1px solid #3e2b41;
      margin: 0;
    }
  }
}

@media (max-width: 420px) {
  #main-title span {
    display: none;
  }
  #stats-container {
    width: 100%;
  }
  #footer-text {
    width: 320px;
  }
}
