#services-container {
  width: 1330px;
  padding-bottom: 25px;
  margin: 15px auto 0;
  overflow: hidden;
}

#services {
  width: 1330px;
}

.services-block {
  text-align: center;
  transition: all ease .15s;

  h2 {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.service-block {
  position: relative;
  display: inline-block;
  margin: 15px;
  width: 260px;
  height: 92px;
  background: #fff;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  transition: all ease .25s;

  h1 {
    padding: 12px 0 3px 0;
    font-size: 16px;
    font-weight: 800;
    color: #5a405f;
    text-transform: uppercase;
    transition: all ease .25s;
  }

  h2 {
    font-size: 12px;
    font-weight: 700;
    color: #93969f;
    text-transform: uppercase;
    letter-spacing: 0;
    transition: all ease .25s;
    margin-top: 3px;
  }

  .service-status {
    height: 35px;
    background-position: center top;
    text-align: center;
    transition: all ease .25s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.service:hover {
  .service-status {
    background-position: center -10px;
    filter: brightness(125%);
    -webkit-filter: brightness(125%);
  }

  h2 {
    color: #202328;
  }
}

.help {
  background-color: #02bdda;
  border-radius: 16px;
  color: #fff;
  cursor: help;
  display: inline-block;
  font-family: 'Open Sans',Verdana,Arial,sans-serif;
  font-size: 19px;
  font-weight: 700;
  height: 25px;
  line-height: 25px;
  position: relative;
  text-align: center;
  width: 26px;
  margin-top: 4px;

  .popover {
    background-color: rgba(90,64,95,0.90);
    border-radius: 5px;
    bottom: 42px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    color: #fff;
    display: none;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Open Sans',Verdana,Arial,sans-serif;
    left: -108px;
    padding: 7px 10px;
    position: absolute;
    width: 221px;
    z-index: 4;

    &:before {
      border-top: 7px solid rgba(90,64,95,0.90);
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      bottom: -7px;
      content: '';
      display: block;
      left: 50%;
      margin-left: -7px;
      position: absolute;
    }
  }

  &:hover {
    .popover {
      display: block;
      animation: fade-in .3s linear 1, move-up .3s linear 1;
      -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
      -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
      -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
    }
  }
}

.up {
  background-color:#61B329;
}

.warn, .maintenance {
  background-color:#FFA500;
}

.down, .error, {
  background-color:#CC0000;
}

.unknown, .loading {
  background-color:#ccc;
}

@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-webkit-keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-ms-keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes move-up {
	from { bottom: 30px; }
	to { bottom: 42px; }
}

@-webkit-keyframes move-up {
	from { bottom: 30px; }
	to { bottom: 42px; }
}

@-moz-keyframes move-up {
	from { bottom: 30px; }
	to { bottom: 42px; }
}

@-ms-keyframes move-up {
	from { bottom: 30px; }
	to { bottom: 42px; }
}
